# Task -5 : Data Cleaning

In [1]:
import pandas as pd

## 1. Read the following .csv files:
1. Sales Transactions-2017.csv
2. Sales Transactions-2018.csv
3. Sales Transactions-2019.csv

In [2]:
sales_2017 = pd.read_csv('Sales Transactions-2017.csv')
sales_2017

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
47285,31/03/2018,Sal:10042,Vkp,10*10 SHEET,25,137,"3,425.00",NaN,"3,425.00"
47286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47288,NaN,Total,NaN,NaN,"607,734.60","669,300.49","9,953,816.13","106,607.00","9,868,583.13"
47289,NaN,Total,NaN,NaN,"7,593,062.00","8,309,116.00","115,778,725.71","936,348.00","115,105,123.71"

In [3]:
sales_2018 = pd.read_csv('Sales Transactions-2018.csv')
sales_2018

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2018,Sal:146,TP13,SILVER POUCH 9*12,50,85,"4,250.00",NaN,"66,724.00"
1,1/4/2018,Sal:146,TP13,RUBBER,5,290,"1,450.00",NaN,NaN
2,1/4/2018,Sal:146,TP13,DURGA 10*12 Blue,"1,600.00",5.5,"8,800.00",NaN,NaN
3,1/4/2018,Sal:146,TP13,DURGA 13*16 BLUE,400,11,"4,400.00",NaN,NaN
4,1/4/2018,Sal:146,TP13,10*12 SARAS-NAT,600,8.1,"4,860.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
44735,31/03/2019,Sal:9610,HAMPI FOODS,SPOON SOOFY,200,40,"8,000.00",NaN,NaN
44736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44738,NaN,Total,NaN,NaN,"666,056.00","1,067,808.80","10,796,991.30","29,999.00","10,787,647.30"
44739,NaN,Total,NaN,NaN,"7,097,803.00","10,024,197.00","117,897,671.80","720,204.00","117,427,983.80"

In [4]:
sales_2019 = pd.read_csv('Sales Transactions-2019.csv')
sales_2019

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2019,Sal:687,BALAJI PLASTICS,DONA-VAI-9100,1,"1,730.00","1,730.00",NaN,"3,460.00"
1,1/4/2019,Sal:687,BALAJI PLASTICS,SMART BOUL(48),1,"1,730.00","1,730.00",NaN,NaN
2,1/4/2019,Sal:688,BALAJI PLASTICS,Vishnu Ice,110,18.5,"2,035.00",NaN,"2,035.00"
3,,,28/3,,0,0,,,
4,1/4/2019,Sal:689,BALAJI PLASTICS,100LEAF -SP,3,585,"1,755.00",NaN,"1,755.00"
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

## 3. Concatenate the 3 files:

In [5]:
complete_data = sales_2017.append([sales_2018, sales_2019])

In [6]:
complete_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

## 4. Deletion of null dates from Date feature in dataframe:

In [39]:
complete_data.dropna(subset=['Date'], inplace=True)

In [40]:
complete_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,2017-01-04,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,2017-01-04,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,2017-01-04,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,2017-01-04,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,2017-01-04,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19167,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",NaN,NaN
19168,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",NaN,NaN
19169,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",NaN,NaN
19170,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",NaN,NaN
19171,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN

## 5. Changing object Date into datetime datatype

In [41]:
complete_data['Date'] = pd.to_datetime(complete_data['Date'], errors='coerce')

In [42]:
complete_data

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,2017-01-04,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,2017-01-04,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,2017-01-04,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,2017-01-04,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,2017-01-04,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19167,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140,26,"3,640.00",NaN,NaN
19168,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4,"5,040.00",NaN,NaN
19169,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16,"5,120.00",NaN,NaN
19170,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5,"6,800.00",NaN,NaN
19171,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN

In [43]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95562 entries, 0 to 19171
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            95562 non-null  datetime64[ns]
 1   Voucher         95562 non-null  object
 2   Party           95562 non-null  object
 3   Product         95562 non-null  object
 4   Qty             95562 non-null  object
 5   Rate            95561 non-null  object
 6   Gross           95561 non-null  object
 7   Disc            2510 non-null   object
 8   Voucher Amount  24473 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 7.3+ MB

## 6. Deletion of unrequired features(columns):

In [91]:
filtered_data = complete_data.drop(labels = ['Disc', 'Voucher Amount', 'Gross'], axis= 1)

In [92]:
filtered_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00"
1,2017-01-04,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00"
2,2017-01-04,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00"
4,2017-01-04,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00"
...,...,...,...,...,...,...
19167,2019-10-10,Sal:4935,K.SRIHARI,16*20(100-W),140,26
19168,2019-10-10,Sal:4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
19169,2019-10-10,Sal:4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16
19170,2019-10-10,Sal:4935,K.SRIHARI,10*12 RK,800,8.5
19171,2019-10-10,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16

## 7. Checking for null values:

In [93]:
filtered_data.isnull().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       1
dtype: int64

In [94]:
import warnings 
warnings.filterwarnings(action='ignore')

## 8. Replacing characters in feature objects:

In [95]:
filtered_data[['Qty', 'Rate']] = filtered_data[['Qty','Rate']].replace(',', '', regex=True)

In [96]:
filtered_data.head(30)

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,1690.00
1,2017-01-04,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,1620.00
2,2017-01-04,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23
3,2017-01-04,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,1620.00
4,2017-01-04,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,1690.00
5,2017-01-04,Sal:2,SARNESWARA TRADERS,CLASSIC ENJOY(750),1,1320.00
6,2017-01-04,Sal:898,Lock,Vishnu 250ml,100,30
7,2017-01-04,Sal:898,Lock,BLACK DOG-350ML,100,26
10,2017-01-04,Sal:2497,VAMSI KRISHNA FANCY,Loose Items,1,800
13,2017-01-04,Sal:9263,VAMSI KRISHNA FANCY,Loose Items,1,280
16,2017-01-04,Sal:9545,Vkp,Loose Items,1,695
18,2017-02-04,Sal:16,KPR,LITE FOAM(1200),1,1620.00
19,2017-03-04,Sal:3,BALAJI PLASTICS,90ML RANGEELA,150,14.5
20,2017-03-04,Sal:4,DURGAHOTEL,SILVER POUCH 9*12,10,90
21,2017-03-04,Sal:4,DURGAHOTEL,SILVER POUCH 8*10,10,70
22,2017-03-04,Sal:4,DURGAHOTEL,CLASSIC 250ML(100),10,30
23,2017-03-04,Sal:4,DURGAHOTEL,"14""7PLY PLATES",200,3.8
24,2017-03-04,Sal:5,SONIYA HIRERS,10*10 TEJA,3,125
25,2017-03-04,Sal:5,SONIYA HIRERS,PAPER JUICE 190ML,20,36
26,2017-03-04,Sal:5,SONIYA HIRERS,APPLE WINE,50,24
27,2017-03-04,Sal:5,SONIYA HIRERS,APPLE 300ML,50,28
28,2017-03-04,Sal:5,SONIYA HIRERS,FANCY IC,20,20
29,2017-03-04,Sal:5,SONIYA HIRERS,SMART BOUL LOOSE,30,23
30,2017-03-04,Sal:5,SONIYA HIRERS,TIRUMALA LEAF(9),1,380
31,2017-03-04,Sal:5,SONIYA HIRERS,SOFT NAPKEENS,5,20
32,2017-03-04,Sal:5,SONIYA HIRERS,14 GREEN,1000.00,1.3
33,2017-03-04,Sal:6,VENUGOPAL-INAMADUGU,10*10 MORE,25,136
34,2017-03-04,Sal:7,MAYURI HOTEL,500ML PLASTIC BOULS,2000.00,3.5
35,2017-03-04,Sal:8,Vkp,Classic 250ml,100,24
36,2017-03-04,Sal:8,Vkp,BLACK DOG-350ML,100,25.5

## 9. Converting objects in features: Qty, Rate to numeric values and respective datatypes:

In [97]:
filtered_data['Rate'] = pd.to_numeric(filtered_data['Rate']).astype('float')

In [98]:
filtered_data['Qty'] = pd.to_numeric(filtered_data['Qty']).astype('int')

In [99]:
filtered_data.dtypes

Date       datetime64[ns]
Voucher            object
Party              object
Product            object
Qty                 int32
Rate              float64
dtype: object

In [100]:
filtered_data['Voucher'] = filtered_data['Voucher'].str.replace('Sal:','').astype('int')

In [101]:
filtered_data

,Date,Voucher,Party,Product,Qty,Rate
0,2017-01-04,1,SOLANKI PLASTICS,DONA-VAI-9100,2,1690.0
1,2017-01-04,1,SOLANKI PLASTICS,LITE FOAM(1200),6,1620.0
2,2017-01-04,2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23.0
3,2017-01-04,2,SARNESWARA TRADERS,LITE FOAM(1200),6,1620.0
4,2017-01-04,2,SARNESWARA TRADERS,DONA-VAI-9100,5,1690.0
...,...,...,...,...,...,...
19167,2019-10-10,4935,K.SRIHARI,16*20(100-W),140,26.0
19168,2019-10-10,4935,K.SRIHARI,10*12 KRISHNA-BK(10,600,8.4
19169,2019-10-10,4935,K.SRIHARI,13*16 Bk(100)KRISHN,320,16.0
19170,2019-10-10,4935,K.SRIHARI,10*12 RK,800,8.5
19171,2019-10-10,4935,K.SRIHARI,13*16 WHITE RK,400,16.0

In [102]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95562 entries, 0 to 19171
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     95562 non-null  datetime64[ns]
 1   Voucher  95562 non-null  int32
 2   Party    95562 non-null  object
 3   Product  95562 non-null  object
 4   Qty      95562 non-null  int32
 5   Rate     95561 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(2), object(2)
memory usage: 4.4+ MB

## 10. Checking for the position of present null value and filling it.:

In [103]:
filtered_data[filtered_data['Rate'].isnull()].index.tolist()
#df[df['A'].isnull()].index.tolist()

[43740]

In [104]:
filtered_data['Rate'] = filtered_data['Rate'].fillna(0)

## Checking for unspecified null values (like : .., __, â€” , missing, na, @,??,***,etc)

### (display all the unique features and their counts)

In [105]:
filtered_data['Date'].unique()

array(['2017-01-04T00:00:00.000000000', '2017-02-04T00:00:00.000000000',
       '2017-03-04T00:00:00.000000000', '2017-04-04T00:00:00.000000000',
       '2017-05-04T00:00:00.000000000', '2017-06-04T00:00:00.000000000',
       '2017-07-04T00:00:00.000000000', '2017-08-04T00:00:00.000000000',
       '2017-09-04T00:00:00.000000000', '2017-10-04T00:00:00.000000000',
       '2017-11-04T00:00:00.000000000', '2017-12-04T00:00:00.000000000',
       '2017-04-13T00:00:00.000000000', '2017-04-14T00:00:00.000000000',
       '2017-04-15T00:00:00.000000000', '2017-04-17T00:00:00.000000000',
       '2017-04-18T00:00:00.000000000', '2017-04-19T00:00:00.000000000',
       '2017-04-20T00:00:00.000000000', '2017-04-21T00:00:00.000000000',
       '2017-04-22T00:00:00.000000000', '2017-04-24T00:00:00.000000000',
       '2017-04-25T00:00:00.000000000', '2017-04-26T00:00:00.000000000',
       '2017-04-27T00:00:00.000000000', '2017-04-28T00:00:00.000000000',
       '2017-04-29T00:00:00.000000000', '2017-04-30T00:00:00.000000000',
       '2017-01-05T00:00:00.000000000', '2017-02-05T00:00:00.000000000',
       '2017-03-05T00:00:00.000000000', '2017-04-05T00:00:00.000000000',
       '2017-05-05T00:00:00.000000000', '2017-06-05T00:00:00.000000000',
       '2017-08-05T00:00:00.000000000', '2017-09-05T00:00:00.000000000',
       '2017-10-05T00:00:00.000000000', '2017-11-05T00:00:00.000000000',
       '2017-12-05T00:00:00.000000000', '2017-05-13T00:00:00.000000000',
       '2017-05-15T00:00:00.000000000', '2017-05-16T00:00:00.000000000',
       '2017-05-17T00:00:00.000000000', '2017-05-18T00:00:00.000000000',
       '2017-05-19T00:00:00.000000000', '2017-05-20T00:00:00.000000000',
       '2017-05-22T00:00:00.000000000', '2017-05-23T00:00:00.000000000',
       '2017-05-24T00:00:00.000000000', '2017-05-25T00:00:00.000000000',
       '2017-05-26T00:00:00.000000000', '2017-05-27T00:00:00.000000000',
       '2017-05-29T00:00:00.000000000', '2017-05-30T00:00:00.000000000',
       '2017-05-31T00:00:00.000000000', '2017-01-06T00:00:00.000000000',
       '2017-02-06T00:00:00.000000000', '2017-03-06T00:00:00.000000000',
       '2017-05-06T00:00:00.000000000', '2017-06-06T00:00:00.000000000',
       '2017-07-06T00:00:00.000000000', '2017-08-06T00:00:00.000000000',
       '2017-09-06T00:00:00.000000000', '2017-10-06T00:00:00.000000000',
       '2017-12-06T00:00:00.000000000', '2017-06-13T00:00:00.000000000',
       '2017-06-14T00:00:00.000000000', '2017-06-15T00:00:00.000000000',
       '2017-06-16T00:00:00.000000000', '2017-06-17T00:00:00.000000000',
       '2017-06-19T00:00:00.000000000', '2017-06-20T00:00:00.000000000',
       '2017-06-21T00:00:00.000000000', '2017-06-22T00:00:00.000000000',
       '2017-06-23T00:00:00.000000000', '2017-06-24T00:00:00.000000000',
       '2017-06-26T00:00:00.000000000', '2017-06-27T00:00:00.000000000',
       '2017-06-28T00:00:00.000000000', '2017-06-29T00:00:00.000000000',
       '2017-06-30T00:00:00.000000000', '2017-01-07T00:00:00.000000000',
       '2017-03-07T00:00:00.000000000', '2017-04-07T00:00:00.000000000',
       '2017-05-07T00:00:00.000000000', '2017-06-07T00:00:00.000000000',
       '2017-07-07T00:00:00.000000000', '2017-08-07T00:00:00.000000000',
       '2017-09-07T00:00:00.000000000', '2017-10-07T00:00:00.000000000',
       '2017-11-07T00:00:00.000000000', '2017-12-07T00:00:00.000000000',
       '2017-07-13T00:00:00.000000000', '2017-07-14T00:00:00.000000000',
       '2017-07-15T00:00:00.000000000', '2017-07-17T00:00:00.000000000',
       '2017-07-18T00:00:00.000000000', '2017-07-19T00:00:00.000000000',
       '2017-07-20T00:00:00.000000000', '2017-07-21T00:00:00.000000000',
       '2017-07-22T00:00:00.000000000', '2017-07-24T00:00:00.000000000',
       '2017-07-25T00:00:00.000000000', '2017-07-26T00:00:00.000000000',
       '2017-07-27T00:00:00.000000000', '2017-07-28T00:00:00.000000000',
       '2017-07-29T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2017-01-08T00:00:00.000000000', '2017-02-08T00:00:00.000000000',
       '2017-03-08T00:00:00.000000000', '2017-04-08T00:00:00.000000000',
       '2017-05-08T00:00:00.000000000', '2017-07-08T00:00:00.000000000',
       '2017-08-08T00:00:00.000000000', '2017-09-08T00:00:00.000000000',
       '2017-10-08T00:00:00.000000000', '2017-11-08T00:00:00.000000000',
       '2017-12-08T00:00:00.000000000', '2017-08-13T00:00:00.000000000',
       '2017-08-14T00:00:00.000000000', '2017-08-15T00:00:00.000000000',
       '2017-08-16T00:00:00.000000000', '2017-08-17T00:00:00.000000000',
       '2017-08-18T00:00:00.000000000', '2017-08-19T00:00:00.000000000',
       '2017-08-20T00:00:00.000000000', '2017-08-21T00:00:00.000000000',
       '2017-08-22T00:00:00.000000000', '2017-08-23T00:00:00.000000000',
       '2017-08-24T00:00:00.000000000', '2017-08-25T00:00:00.000000000',
       '2017-08-26T00:00:00.000000000', '2017-08-27T00:00:00.000000000',
       '2017-08-28T00:00:00.000000000', '2017-08-29T00:00:00.000000000',
       '2017-08-30T00:00:00.000000000', '2017-08-31T00:00:00.000000000',
       '2017-01-09T00:00:00.000000000', '2017-02-09T00:00:00.000000000',
       '2017-04-09T00:00:00.000000000', '2017-05-09T00:00:00.000000000',
       '2017-06-09T00:00:00.000000000', '2017-07-09T00:00:00.000000000',
       '2017-08-09T00:00:00.000000000', '2017-09-09T00:00:00.000000000',
       '2017-11-09T00:00:00.000000000', '2017-12-09T00:00:00.000000000',
       '2017-09-13T00:00:00.000000000', '2017-09-14T00:00:00.000000000',
       '2017-09-15T00:00:00.000000000', '2017-09-16T00:00:00.000000000',
       '2017-09-17T00:00:00.000000000', '2017-09-18T00:00:00.000000000',
       '2017-09-19T00:00:00.000000000', '2017-09-20T00:00:00.000000000',
       '2017-09-21T00:00:00.000000000', '2017-09-22T00:00:00.000000000',
       '2017-09-23T00:00:00.000000000', '2017-09-25T00:00:00.000000000',
       '2017-09-26T00:00:00.000000000', '2017-09-27T00:00:00.000000000',
       '2017-09-28T00:00:00.000000000', '2017-09-29T00:00:00.000000000',
       '2017-09-30T00:00:00.000000000', '2017-02-10T00:00:00.000000000',
       '2017-03-10T00:00:00.000000000', '2017-04-10T00:00:00.000000000',
       '2017-05-10T00:00:00.000000000', '2017-06-10T00:00:00.000000000',
       '2017-07-10T00:00:00.000000000', '2017-09-10T00:00:00.000000000',
       '2017-10-10T00:00:00.000000000', '2017-11-10T00:00:00.000000000',
       '2017-12-10T00:00:00.000000000', '2017-10-13T00:00:00.000000000',
       '2017-10-14T00:00:00.000000000', '2017-10-15T00:00:00.000000000',
       '2017-10-16T00:00:00.000000000', '2017-10-17T00:00:00.000000000',
       '2017-10-18T00:00:00.000000000', '2017-10-19T00:00:00.000000000',
       '2017-10-20T00:00:00.000000000', '2017-10-21T00:00:00.000000000',
       '2017-10-23T00:00:00.000000000', '2017-10-24T00:00:00.000000000',
       '2017-10-25T00:00:00.000000000', '2017-10-26T00:00:00.000000000',
       '2017-10-27T00:00:00.000000000', '2017-10-28T00:00:00.000000000',
       '2017-10-29T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2017-10-31T00:00:00.000000000', '2017-01-11T00:00:00.000000000',
       '2017-02-11T00:00:00.000000000', '2017-03-11T00:00:00.000000000',
       '2017-04-11T00:00:00.000000000', '2017-06-11T00:00:00.000000000',
       '2017-07-11T00:00:00.000000000', '2017-08-11T00:00:00.000000000',
       '2017-09-11T00:00:00.000000000', '2017-10-11T00:00:00.000000000',
       '2017-11-11T00:00:00.000000000', '2017-11-13T00:00:00.000000000',
       '2017-11-14T00:00:00.000000000', '2017-11-15T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
       '2017-11-18T00:00:00.000000000', '2017-11-20T00:00:00.000000000',
       '2017-11-21T00:00:00.000000000', '2017-11-22T00:00:00.000000000',
       '2017-11-23T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2017-11-25T00:00:00.000000000', '2017-11-27T00:00:00.000000000',
       '2017-11-28T00:00:00.000000000', '2017-11-29T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2017-01-12T00:00:00.000000000',
       '2017-02-12T00:00:00.000000000', '2017-03-12T00:00:00.000000000',
       '2017-04-12T00:00:00.000000000', '2017-05-12T00:00:00.000000000',
       '2017-06-12T00:00:00.000000000', '2017-07-12T00:00:00.000000000',
       '2017-08-12T00:00:00.000000000', '2017-09-12T00:00:00.000000000',
       '2017-10-12T00:00:00.000000000', '2017-11-12T00:00:00.000000000',
       '2017-12-12T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2017-12-14T00:00:00.000000000', '2017-12-15T00:00:00.000000000',
       '2017-12-16T00:00:00.000000000', '2017-12-18T00:00:00.000000000',
       '2017-12-19T00:00:00.000000000', '2017-12-20T00:00:00.000000000',
       '2017-12-21T00:00:00.000000000', '2017-12-22T00:00:00.000000000',
       '2017-12-23T00:00:00.000000000', '2017-12-25T00:00:00.000000000',
       '2017-12-26T00:00:00.000000000', '2017-12-27T00:00:00.000000000',
       '2017-12-28T00:00:00.000000000', '2017-12-29T00:00:00.000000000',
       '2017-12-30T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-01-13T00:00:00.000000000', '2018-01-15T00:00:00.000000000',
       '2018-01-17T00:00:00.000000000', '2018-01-18T00:00:00.000000000',
       '2018-01-19T00:00:00.000000000', '2018-01-20T00:00:00.000000000',
       '2018-01-22T00:00:00.000000000', '2018-01-23T00:00:00.000000000',
       '2018-01-24T00:00:00.000000000', '2018-01-25T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2018-01-27T00:00:00.000000000',
       '2018-01-29T00:00:00.000000000', '2018-01-30T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2018-01-02T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2018-03-02T00:00:00.000000000',
       '2018-04-02T00:00:00.000000000', '2018-05-02T00:00:00.000000000',
       '2018-06-02T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-08-02T00:00:00.000000000', '2018-09-02T00:00:00.000000000',
       '2018-10-02T00:00:00.000000000', '2018-12-02T00:00:00.000000000',
       '2018-02-13T00:00:00.000000000', '2018-02-14T00:00:00.000000000',
       '2018-02-15T00:00:00.000000000', '2018-02-16T00:00:00.000000000',
       '2018-02-17T00:00:00.000000000', '2018-02-18T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-02-20T00:00:00.000000000',
       '2018-02-21T00:00:00.000000000', '2018-02-22T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2018-02-24T00:00:00.000000000',
       '2018-02-25T00:00:00.000000000', '2018-02-26T00:00:00.000000000',
       '2018-02-27T00:00:00.000000000', '2018-02-28T00:00:00.000000000',
       '2018-01-03T00:00:00.000000000', '2018-02-03T00:00:00.000000000',
       '2018-03-03T00:00:00.000000000', '2018-05-03T00:00:00.000000000',
       '2018-06-03T00:00:00.000000000', '2018-07-03T00:00:00.000000000',
       '2018-08-03T00:00:00.000000000', '2018-09-03T00:00:00.000000000',
       '2018-10-03T00:00:00.000000000', '2018-11-03T00:00:00.000000000',
       '2018-12-03T00:00:00.000000000', '2018-03-13T00:00:00.000000000',
       '2018-03-14T00:00:00.000000000', '2018-03-15T00:00:00.000000000',
       '2018-03-16T00:00:00.000000000', '2018-03-17T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-20T00:00:00.000000000',
       '2018-03-21T00:00:00.000000000', '2018-03-22T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2018-03-24T00:00:00.000000000',
       '2018-03-25T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-03-27T00:00:00.000000000', '2018-03-28T00:00:00.000000000',
       '2018-03-29T00:00:00.000000000', '2018-03-30T00:00:00.000000000',
       '2018-03-31T00:00:00.000000000', '2018-01-04T00:00:00.000000000',
       '2018-02-04T00:00:00.000000000', '2018-03-04T00:00:00.000000000',
       '2018-04-04T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2018-06-04T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-09-04T00:00:00.000000000', '2018-10-04T00:00:00.000000000',
       '2018-11-04T00:00:00.000000000', '2018-12-04T00:00:00.000000000',
       '2018-04-13T00:00:00.000000000', '2018-04-14T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-04-17T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-04-19T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-04-21T00:00:00.000000000',
       '2018-04-23T00:00:00.000000000', '2018-04-24T00:00:00.000000000',
       '2018-04-25T00:00:00.000000000', '2018-04-26T00:00:00.000000000',
       '2018-04-27T00:00:00.000000000', '2018-04-28T00:00:00.000000000',
       '2018-04-30T00:00:00.000000000', '2018-01-05T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2018-03-05T00:00:00.000000000',
       '2018-04-05T00:00:00.000000000', '2018-05-05T00:00:00.000000000',
       '2018-07-05T00:00:00.000000000', '2018-08-05T00:00:00.000000000',
       '2018-09-05T00:00:00.000000000', '2018-10-05T00:00:00.000000000',
       '2018-11-05T00:00:00.000000000', '2018-12-05T00:00:00.000000000',
       '2018-05-14T00:00:00.000000000', '2018-05-15T00:00:00.000000000',
       '2018-05-16T00:00:00.000000000', '2018-05-17T00:00:00.000000000',
       '2018-05-18T00:00:00.000000000', '2018-05-19T00:00:00.000000000',
       '2018-05-21T00:00:00.000000000', '2018-05-22T00:00:00.000000000',
       '2018-05-23T00:00:00.000000000', '2018-05-24T00:00:00.000000000',
       '2018-05-25T00:00:00.000000000', '2018-05-26T00:00:00.000000000',
       '2018-05-27T00:00:00.000000000', '2018-05-28T00:00:00.000000000',
       '2018-05-29T00:00:00.000000000', '2018-05-30T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2018-01-06T00:00:00.000000000',
       '2018-02-06T00:00:00.000000000', '2018-04-06T00:00:00.000000000',
       '2018-05-06T00:00:00.000000000', '2018-06-06T00:00:00.000000000',
       '2018-07-06T00:00:00.000000000', '2018-08-06T00:00:00.000000000',
       '2018-09-06T00:00:00.000000000', '2018-11-06T00:00:00.000000000',
       '2018-12-06T00:00:00.000000000', '2018-06-13T00:00:00.000000000',
       '2018-06-14T00:00:00.000000000', '2018-06-15T00:00:00.000000000',
       '2018-06-16T00:00:00.000000000', '2018-06-17T00:00:00.000000000',
       '2018-06-18T00:00:00.000000000', '2018-06-19T00:00:00.000000000',
       '2018-06-20T00:00:00.000000000', '2018-06-21T00:00:00.000000000',
       '2018-06-22T00:00:00.000000000', '2018-06-23T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-01-07T00:00:00.000000000', '2018-02-07T00:00:00.000000000',
       '2018-03-07T00:00:00.000000000', '2018-04-07T00:00:00.000000000',
       '2018-05-07T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2018-07-07T00:00:00.000000000', '2018-09-07T00:00:00.000000000',
       '2018-10-07T00:00:00.000000000', '2018-11-07T00:00:00.000000000',
       '2018-12-07T00:00:00.000000000', '2018-07-13T00:00:00.000000000',
       '2018-07-14T00:00:00.000000000', '2018-07-15T00:00:00.000000000',
       '2018-07-16T00:00:00.000000000', '2018-07-17T00:00:00.000000000',
       '2018-07-18T00:00:00.000000000', '2018-07-19T00:00:00.000000000',
       '2018-07-20T00:00:00.000000000', '2018-07-21T00:00:00.000000000',
       '2018-07-23T00:00:00.000000000', '2018-07-24T00:00:00.000000000',
       '2018-07-25T00:00:00.000000000', '2018-07-26T00:00:00.000000000',
       '2018-07-27T00:00:00.000000000', '2018-07-28T00:00:00.000000000',
       '2018-07-30T00:00:00.000000000', '2018-07-31T00:00:00.000000000',
       '2018-01-08T00:00:00.000000000', '2018-02-08T00:00:00.000000000',
       '2018-03-08T00:00:00.000000000', '2018-04-08T00:00:00.000000000',
       '2018-06-08T00:00:00.000000000', '2018-07-08T00:00:00.000000000',
       '2018-08-08T00:00:00.000000000', '2018-09-08T00:00:00.000000000',
       '2018-10-08T00:00:00.000000000', '2018-11-08T00:00:00.000000000',
       '2018-08-13T00:00:00.000000000', '2018-08-14T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-08-16T00:00:00.000000000',
       '2018-08-17T00:00:00.000000000', '2018-08-18T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-22T00:00:00.000000000', '2018-08-23T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-08-25T00:00:00.000000000',
       '2018-08-26T00:00:00.000000000', '2018-08-27T00:00:00.000000000',
       '2018-08-28T00:00:00.000000000', '2018-08-29T00:00:00.000000000',
       '2018-08-30T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-01-09T00:00:00.000000000', '2018-02-09T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-04-09T00:00:00.000000000',
       '2018-05-09T00:00:00.000000000', '2018-06-09T00:00:00.000000000',
       '2018-07-09T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-09-09T00:00:00.000000000', '2018-10-09T00:00:00.000000000',
       '2018-11-09T00:00:00.000000000', '2018-12-09T00:00:00.000000000',
       '2018-09-13T00:00:00.000000000', '2018-09-14T00:00:00.000000000',
       '2018-09-15T00:00:00.000000000', '2018-09-16T00:00:00.000000000',
       '2018-09-17T00:00:00.000000000', '2018-09-18T00:00:00.000000000',
       '2018-09-19T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2018-09-21T00:00:00.000000000', '2018-09-22T00:00:00.000000000',
       '2018-09-24T00:00:00.000000000', '2018-09-25T00:00:00.000000000',
       '2018-09-26T00:00:00.000000000', '2018-09-27T00:00:00.000000000',
       '2018-09-28T00:00:00.000000000', '2018-09-29T00:00:00.000000000',
       '2018-01-10T00:00:00.000000000', '2018-02-10T00:00:00.000000000',
       '2018-03-10T00:00:00.000000000', '2018-04-10T00:00:00.000000000',
       '2018-05-10T00:00:00.000000000', '2018-06-10T00:00:00.000000000',
       '2018-07-10T00:00:00.000000000', '2018-08-10T00:00:00.000000000',
       '2018-09-10T00:00:00.000000000', '2018-10-10T00:00:00.000000000',
       '2018-11-10T00:00:00.000000000', '2018-12-10T00:00:00.000000000',
       '2018-10-13T00:00:00.000000000', '2018-10-15T00:00:00.000000000',
       '2018-10-16T00:00:00.000000000', '2018-10-17T00:00:00.000000000',
       '2018-10-18T00:00:00.000000000', '2018-10-19T00:00:00.000000000',
       '2018-10-20T00:00:00.000000000', '2018-10-22T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2018-10-24T00:00:00.000000000',
       '2018-10-25T00:00:00.000000000', '2018-10-26T00:00:00.000000000',
       '2018-10-27T00:00:00.000000000', '2018-10-29T00:00:00.000000000',
       '2018-10-30T00:00:00.000000000', '2018-10-31T00:00:00.000000000',
       '2018-01-11T00:00:00.000000000', '2018-02-11T00:00:00.000000000',
       '2018-03-11T00:00:00.000000000', '2018-04-11T00:00:00.000000000',
       '2018-05-11T00:00:00.000000000', '2018-06-11T00:00:00.000000000',
       '2018-07-11T00:00:00.000000000', '2018-08-11T00:00:00.000000000',
       '2018-09-11T00:00:00.000000000', '2018-10-11T00:00:00.000000000',
       '2018-12-11T00:00:00.000000000', '2018-11-13T00:00:00.000000000',
       '2018-11-14T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2018-11-16T00:00:00.000000000', '2018-11-17T00:00:00.000000000',
       '2018-11-18T00:00:00.000000000', '2018-11-19T00:00:00.000000000',
       '2018-11-20T00:00:00.000000000', '2018-11-21T00:00:00.000000000',
       '2018-11-22T00:00:00.000000000', '2018-11-23T00:00:00.000000000',
       '2018-11-24T00:00:00.000000000', '2018-11-26T00:00:00.000000000',

In [106]:
filtered_data['Voucher'].unique() #Dsiplays the array of unique vales

array([   1,    2,  898, ..., 8727, 9102, 9193])

In [107]:
filtered_data['Voucher'].nunique(dropna=False) #Displays the count of unique values; dropna=False: includes nan values

10042

In [108]:
filtered_data['Party'].unique()

array(['SOLANKI PLASTICS', 'SARNESWARA TRADERS', 'Lock',
       'VAMSI KRISHNA FANCY', 'Vkp', 'KPR', 'BALAJI PLASTICS',
       'DURGAHOTEL', 'SONIYA HIRERS', 'VENUGOPAL-INAMADUGU',
       'MAYURI HOTEL', 'RAMAKRISHNA GENERAL', 'SVS-ALR',
       'SANDHYA PLASTICS-PD', 'SUNDHA PLASTICS', 'Srinu', 'Msr',
       'NAGESWARAO', 'KHAN AND KHAN PLAST', 'VENKATESWARLU-VIJAY', 'MR',
       'KNC', 'SVP-BUCHHI', 'RAJASURESH', 'K.SRIHARI', 'MUNEER',
       'VENKATESWARA GENERA', 'Vlp', 'MANCHIKANTI HARI', 'Gv', 'Svr',
       'TP13', 'PGS', 'CHEKKA SUDHAKAR', 'P.RAVI', 'LAVANYA FANCY',
       'BRHAMADEVI SUDHEER', 'DSP-SEKHAR', 'INAMADUGU-VENKAYYA', 'Tvr',
       'VENKATASETTY-PDKR', 'BSR', 'VENKATESWARLU-MUTHU',
       'ARVIND-VIDYANAGAR', 'KALLASUDHAKAR', 'LAKSHMINARASIMHA TE',
       'P.V.RAJA-VGIRI', 'NSR', 'HAMPI FOODS', 'WHITE HORSE', 'BCM',
       'MAYURI CATERING', 'SVN PLASTICS-BUCHI', 'TEACHER', 'NMK',
       'SPM PROVISION-DAKKI', 'Btr', 'K.RAVIKUMAR-VGIRI',
       'SRI JYOTHI TRADERS', 'AVS-NPT', 'RNR', 'MS WATERPLANT', 'KVK',
       'PENCHALAYYA-K', 'BSM-VGIRI', 'VNR', 'Kvkc', 'KARIMULLA-BTTR',
       'RR', 'MVK-SKHT', 'MARKET KOTESWARARAO', 'DVR-CHITWELI',
       'PALURU MALAKONDARED', 'CHENGAREDDY-MTKR', 'Chakka Rangayya',
       'PAPARAO', 'RKK', 'Svsgs', 'MAHESWARI PROVISION', 'SATYAM.J',
       'SASANK PAPER AND PL', 'BRHAMIAH MOPUR', 'KRISHNAPATNAM PORT',
       'S.RAMMOHAN-NELLORE', 'SB.ENTERPRISES', 'PRASAD-SPT',
       'SESHIA-UGIRI', 'ANILFANCY', 'VENKATARAMA GENRALS',
       'BALAJI PLASTICS-ONG', 'AVR-KAVALI', 'TR-SPT', 'JAYLAKSHMIFANCY',
       'PRAKASH KOTA', 'CH.MALLIKARJUNA', 'MRG', 'SHAIK SIFULLA',
       'Lakshmifancy', 'Ppr', 'G.RAMANIAH', 'A1 PLASTICS-SPT', 'Gvs',
       'SAIFANCY', 'CUSTOMER SESHIAH AY', 'RO', 'JAYALAKSHMI GENERAL',
       'GANESHMESS', 'J.RATHAYYA-DAKKILI', 'K.VENUGOPAL-RAPUR',
       'JANANI PLASTICS-VGI', 'BARGAVI PROVISONS', 'Sms', 'TVS',
       'SEKHAR MARKET', 'CNR', 'SALESMAN SURESH', 'KRB',
       'SV.NARAYANA-PMR', 'G.VENKAIAH-ATMAKUR', 'KISHORE PLASTIC',
       'SAIRAM GENERALS', 'Cbr', 'JAGADHAMBA PLASTICS', 'TGS-NPT',
       'TULASI GENERAL STOR', 'Lakshmiprasad', 'KVS', 'R AND R -VGIRI',
       'MVR', 'BMK-KOTA', 'CHINA CHENCHAYYA-MA', 'PRASAD-NAVABPET',
       'A.SRINIVASULU-SPT', 'KRISHNA AYYAPAGUDI', 'SATYAM-K', 'RAVI-VMR',
       'SREERAM ESWARAYA-AT', 'SRI VASAVI TRADERS-',
       'CHATLA NARAYANA-PDK', 'P.SRINIVASULU-RAILW', 'BASHA-PDKR',
       'Kesava Provisions', 'RAMAKRISHNA PROVISI', 'SURENDRA-PDKR',
       'SALMA BIRYANI HOTEL', 'Rvrr', 'BABU-ANATHASAGARAM',
       'SRINIVASA SAI FOOTW', 'SURYA BAR', 'MADHU CHEJARLA', 'MS FRUITS',
       'MURALISHOP', 'V.VENKATESWARLU-KAV', 'CHENCHU LAKSHMI FAN',
       'M.BHASKER', 'YVT-PMR', 'Venkatesh Vgiri', 'ATS', 'BSM-MTKR',
       'SSB', 'RR SUPERMARKET-SPT', 'JAYAMPU SUDHAKAR', 'SHAAR CANTEEN',
       'K.ARMUGAM-VGIRI', 'Madhala Mallaya', 'LT', 'AVS-ADURUPALLY',
       'AK-KAVALI', 'CUSTOMER', 'SVT-KOTA TENKAYALA ', 'BHASKER BAR',
       'K.R.PLASTICS', 'CH.ANKAYYA-SYDAPURA', 'Raghu-pdkr',
       'TANEER MASTANIAH', 'SUNDARAM-VGIRI', 'CH.REDDY',
       'KALIYAPPAN-VGIRI', 'RAMASTORES', 'VENKATESWARA PROVIS',
       'GRL-VGIRI', 'PAVAN KUMAR.R', 'MT', 'V.SIVA-ALR',
       'K.NAGIREDDY-KALIGIR', 'T.GOPI-SPT', 'SHANMUGA PROVISION-',
       'SS-GUDUR', 'Ajantha Hotel', 'MS.RAMU-VGIRI', 'Vsp', 'SANKAR',
       'CLK-NPT RTC-47NUMBE', 'A.SRINIVASULU', 'S.HARI-CHITWELI',
       'GOLLABALAJ-GUDLUR', 'ABC', 'VVS-UGIRI', 'RAMARAO', 'MSN-UGIRI',
       'SN.MEERA-MALLAM', 'SHAIK MASTAN-VIDYAN', 'ANR-VGIRI',
       'INR SWEETS-SANGAM', 'MADHU PROVISIONS.K-', 'PADMAVATHI FANCY-GD',
       'NN-PDKR', 'KVS-NPT', 'MADHUFANCY', 'N.SRINIVASULU-VGIRI',
       'A.VENKATESWARLU-VB ', 'MGS', 'Lngs', 'SSS-BUCHI-SHANTINAG',
       'YUVARAJ PLASTICS-AN', 'TV.CHALAPATHI-CHITV', 'SMS TRADERS-GDR',
       'SKT-SPT', 'TVR-KVK', 'PABBISETTY-ALR', 'MD.ISHAQ', 'SKGM-VGIRI',
       'WORTH INDUSTRIES', 'RVK-VGIRI', 'RAJYALAKSHMI PAPER ',
       'INDRA TRADERS-VGIRI', 'DHANALAKSHMI PROVIS', 'AKBAR COOLDRINKS',
       'KKAR-SPT', 'VISHNU-CUTOMER', 'CHENCHUKRISHNAYYA-V', 'R.D .STORES',
       'BABASTORES', 'PARITALA RAMAKRISHN', 'Dv.reddy', 'QUALITY CHICKEN',
       'RAFI TRADERS-UGIRI', 'AFOOZO PRIVATE LIMI', 'SAIPROVISONS-BTTR',
       'PENCHALAYYA-BRHMADE', 'B.OBULREDDY', 'RM(R.R.FANCY) A.S.P',
       'R.SRIHARI', 'YVSR-ALURU', 'K.KONDAYYA-GDR', 'P.MURALI-SPT',
       'B.V.SUBRHAMANHYAM-A', 'KARTHIK DEPARTMENTS', 'RAKESH-GDR',
       'VEGURU ANJI', 'MAHALAKSHMI-VIMAL', 'KATTELA DHODDI RAMA',
       'V.V.SUBHARAO-VEDAYA', 'GOVINDAYA', 'MALLIKARJUNA GENERA',
       'VARUN-SPT', 'DILIP REDDY-GDR', 'MURALIFANCY',
       'VIGNESWARA CATERING', 'LAKSHMINARASIMHA PR', 'SYAMALAMMA.P-GDR',
       'REDDY BHAVAN HOTEL', 'SRIRAMA PROVISIONS-', 'SD.NASIR',
       'SESHIAH-VEGURU', 'DASA RAMESH-NLR', 'GURUNATHAM GENERAL ',
       'CUSTOMER SIVA CHENN', 'CHAITANYA PROVISION',
       'MADHAN KUMAR OPP LI', 'BOMBAY PLASTICS-SPT', 'LKR-DAKKILI',
       'PREETHIKA FANCY-BUC', 'NADAR-VGIRI', 'SATISH-OJILI(INDIAN',
       'VLP-VMR', 'RAJAMATHA STORES-SK', 'SURENDRA-SPT',
       'VENU-VENGAMAMBAPURA', 'SV CATERING-NELLORE', 'GANGASTORE',
       'S.VENKATESWARLU-UGI', 'KARIMULLA-VGIRI', 'KARIMULLA MUTTON SH',
       'CHARAN TRADERS-HAST', 'PURNA SAI AGENCIES', 'SUSHMA CATERING-NEL',
       'VS-SPT', 'CHENCHUMAHALAKSHMI ', 'GOLAGAMUDI', 'C.ekambaram',
       'SANDEEP-VGIRI', 'Y.SIDHYYA-TALUPURU', 'BVR-ATMKR',
       'PRAMEELA BAKERY-NPT', 'Ack', 'AYYAPA FANCY-SPT',
       'VISHNUSTORES-KOTA', 'R.SIVAYYA RAJUPALEM', 'JONNAWADA',
       'TADIKILABAZAAR SHOP', 'SAIREKHA MEDICALS', 'DKR', 'HKP-BUCHHI',
       'MASTHAN.P-SKHT', 'SRINIVASULU.G-VMR', 'GOPI BTTR',
       'CHENNARAYUDU-UGIRI', 'MANI-PORT', 'SURESH.Y(RAILWAY.KO',
       'MANCHIKANTI', 'SAIBABA GENERAL-KAV', 'RAVIKANTH GDR', 'APM-VGIRI',
       'JPR-BUCHI', 'TIRUMALA PROVISIONS', 'VISHNU-SPT', 'Ark', 'ST-NPT',
       'M.PRASAD-SANGAM', 'TULASIRAM-KONDAYAPA', 'PAL-ANANTHASAGARAM',
       'SAIRAM-SPT', 'VISHAL PAPER PRODUC', 'RH PROVISIONS-ATMAK',
       'SRINIVASA SUPER MAR', 'PVS-CHITVELI', 'GANGAMMA-GDR',
       'RAJU.K OPP RTC BADV', 'MURALI.D.CHITWELI', 'RAVI POLYPACK',
       'T.MOHAN-SKHT', 'BALAJI STORES', 'BSCPL INFRASTRUCTUR',
       'ADHI CHIKENSTALL-GD', 'SESHAMMA-ALR PETA', 'AVULA PENCHALAYYA-P',
       'NR-PDKR', 'SUBRHAMANYAM-CHITWE', 'PRATHAP.K-BUCHI',
       'ANJAYYA-CHITTEDU', 'SK.HUMAYAN-UGIRI', 'KK TRADERS',
       'KOVUR AYANA', 'MSR-MTKR', 'N.V.MEDICALS-VGIRI',
       'SATYAM-BUJABUJA NEL', 'NAIDUMESS-DAKKILI', 'K.AMARNATH-KOVUR',
       'SAILAKSHMI PROVISIO', 'BABU-BUCHI', 'JAGADEESH-GDR',
       'SUBHAREDDY-NELLORE', 'PACV-PMR', 'MALLI-NAVABPET',
       'SATISH-NPT(PILLARI ', 'Jagadeesh-spt', 'DKR-STP',
       'BALAJI PLATICS-SANG', 'MADHU NAIDU TENKAYA', 'VSR-CHITWEL',
       'SRINU-PMR', 'Ramesh', 'SURYA TRADERS', 'SUBHARAO-K-ASPET',
       'PRR-NPT', 'JEEVAN-PUTHUR', 'Tpp', 'KANTHARAO-NPT', 'ACR-PDKR',
       'T.MALLIKARJUNA-MENA', 'SRUTHI PROVISIONS-N', 'TVT-CHITWELI',
       'SSR-ATKR', 'NAGASURI SRINIVASUL', 'DARSHAN GEN STORES-',
       'RAJA.T-SKTH', 'KHADER BASHA-CHITWE', 'RAVI-POTAYPALEM',
       'MARKET RAMES', 'P.L.NARAYANA-PMR', 'KKR-SPT', 'NIRANJAN-SANGAM',
       'NANDAKUMAR-NELLORE', 'SLS-SPT', 'SEKHAR-NAVABPET',
       'RAMAKRISHNA-INAMADU', 'MEGHANA BAR', 'PVNR-SPT', 'BADRI.K-KOVUR',
       'A.BHASKER-VGIRI', 'KPR FAST FOODS', 'RSM-PDKR',
       'SATYANARAYANA TRADE', 'SRI KARTHIKEYA ENTE', 'MAHINDRA.K-KOVUR',
       'DPK-SPT', 'HARITHA BEACH RESOR', 'SUDHAKAR.K-NPT',
       'MURALIKRISHNA AGENC', 'GOLLA BALASUBRHAMAN',
       'PAVANI CUT PEICES-A', 'STAR XEROX-PARK STR',
       'BHAGWAN CATERING-NE', 'NARESH-PMR', 'MARKET SRINIVASULU',
       'LAKSHMISAI FANCY-KO', 'MANIKANTA-KOTA', 'BLN-GDR', 'CAKES CORNER',
       'MOHAN CHOUDARY-INAM', 'CHINTALAMMA', 'GOVARDHAN-NPT',
       'T.SRINIVASULU', 'LASHAWAN AND JASHAW', 'SWATHI PROVISIONS-B',
       'B.N.GENERAL STORES-', 'VENU ANANTHAPURAM', 'VAMSI-GDR',
       'UMA CATERING ANATHA', 'Khannan', 'SRI MURAGAN ENTERPR',
       'SEETHAMMA PROVISONS', 'SLV FANCY-PMR', 'VFP-SPT',
       'MURALIKRISHNA SUPER', 'CHINNI.K-RAPUR', 'DVV SATYANARAYANA-K',
       'SMC CATERING-VEGURU', 'MANDALA CHENNA RAYU', 'SRINIVASA CATERING',
       'GOPINATH.Z-NELLORE', 'SK SALIM-PDKR', 'RAJASEKHAR-PMR',
       'KGR FOODS-NELLORE', 'M.MOHANRAO-BUCHI', 'DR UTTAM HOTEL-NELL',
       'ATHIDI RESTARENT', 'SVN PMR', 'SARAVANAN.B-CHENNAI',
       'KKR-VGIRI(KASIPETI)', 'Muralikvl', 'RAMESH-MUTHUKUR',
       'EVS-VENKATAGIRI', 'KJR FRUITS-NELLORE', 'SURESH-JAYAMPU',
       'YVSR-VGIRI', 'Mvs', 'GADAMSETTY SRINIVAS', 'KHAN MERCHANTS-NELL',
       'VINAYAKA SWEET SHOP', 'SSR-NPT', 'LAKSHMIBOOKSHOP-SKH', 'GST',
       'JK PROVISIONS-TIRUM', 'APR-SPT', 'KHADIR BASHA-CHITWE',
       'GANGAPATNAM-MALLIKA', 'APOLLO HOSPITAL', 'KPR HOTEL',
       'RAILWAY CUSTOMER', 'SUDHAKAR.Y-VGIRI', 'KISHORE-NAVABPET',
       'RAJA GENERAL STORES', 'SRINIVASA ENTERPRIS', 'CASH', 'AVS-PDKR',
       'RAMYA SUPERMARKET-V', 'SM CATERING-NPT', 'PGM-VGIRI X-ROADS',
       'VIGNESWARA SUPER MA', 'BUJJAYA', 'PADMAVATHI SHOPPING',
       'Nagaraja.p-npt', 'GUPTA STORES-SPT', 'PV KUMAR REDDY-UGIR',
       'SD RAHAMATHULLA-RAM', 'SMK CATERING-NELLOR',
       'LAKSHISTORES-MALYAD', 'BASHA-MUTHUKUR', 'PRATHAP-NELLORE',
       'JYOTHI ENTERPRISES-', 'BHUVANESWARI', 'NARAYANA ENGINEERIN',
       'SRI KRISHNA FANCY-N', 'SARAVANA TENKAYALA ',
       'SRI LAKSHMI PROVISI', 'JAYSREE GENERAL STO', 'Y.REDDY-NLR',
       'Chenchayya', 'SRINIVASULU-BALAJIN', 'MSN-BALAJI NAGAR',
       'SRINIVASA FANY-ALLU', 'CUSTOMER KRISHNA-SK',
       'MSR CATERING-KAVALI', 'Satya Prem-nellore', 'RAGHUPATHI-SANTHAPE',
       'RAVI-NARUKUR', 'VARKUDDIN-SARVEPALL', 'Madhu-navabpet',
       'VKR-BUCHI', 'SLST-GDR', 'RANGAFANCY-NELLORE',
       'KV RAMANIAH PAN SHO', 'T.NARAYANASWAMY-PMR',
       'BAGWAN CATERING-NLR', 'MASTAN-SKHT', 'MADHU MANUBOLU',
       'MANOHAR.K-SKHT', 'RADHA-ALR', 'RR CHIKEN CENTER-MT',
       'RAMANIAH-SUNIL', 'Kalyani Fruit Juice', 'SKM CATERING',
       'CHANDRAMOULI-VGIRI', 'SAMEERA TRADERS-MAM', 'RAMU-NPT',
       'RP-ASPET', 'SAI DURGA TRANSPORT', 'GV MEDICALS-UDAYAGI',
       'MD.FANCY-NAIDUPET(M', 'SIVA-SPT', 'MASTAN SK-PALLAM PE', 'RESHMI',
       'G.KUMAR-NPT', 'VAYUGUNDLA NARASIMH', 'MAHINDRA FERTILIZER',
       'GOUD HOTEL-NARUKUR', 'K.VENKATESH-MANCHAL', 'VGS SRIHARIKOTA',
       'DHARALU', 'SUMAN-PDKR', 'RAMDEV PLASTICS-SPT',
       'SRI GURU STORES-SKH', 'ASV PROVISION-3RD M',
       'MAHALAKSHMI PLASTIC', 'VINAYAKA CATERING P', 'AMMA AGENCIES',
       'SRI VIGNESWARA SUPE', 'CHENCHULAKSHMIPROVI', 'HARI -SANTHAPET',
       'D.RAMU-ATMAKUR', 'PACS KODURPADU', 'VLN-VAKADU', 'OGR -GUDUR',
       'RAVINDRA-SKHT', 'COFFEE PARK', 'NELLORE SHOP', 'CH PRAVEEN-KVL',
       'N.C PDKR', 'N.PRABHAKAR PDKR', 'TP', 'SBH-CHENNURU',
       'HOTEL SMART CITY PA', 'SRIKANTH-GDR', 'Kvs-rajupalem',
       'HOTEL BAWARCHI', 'MALAYALI WELFARE AS', 'KARUPUSWAMY-NELLORE',
       'T.SRINIVASULU(TST)-', 'KANYAKAPARAMESWARI ', 'RKM-SKHT',
       'N1 ENTERPRISES', 'DURGA PLASTICS-NPT', 'KEERTHI MILK DAIRY-',
       'GLN-VAKADU', 'VASUHOTEL VGIRI', 'RAJAGOPAL STORES(MK',
       'SRINIVASULU.I-SKD', 'TVS-KOTA', 'JAI BALAJI-NELLORE', 'GMR-NPT',
       'SAI KRISHNA GENERAL', 'VIJAYKUMAR REDDY.P-',
       'HARIKRISHNA PROVISI', 'SRI SAI BABA GENERA', 'G.RATNAM-VGIRI',
       'VENKATAKRISHNA-KOTA', 'SUGUNA GENERAL STOR',
       'SURYA CHANDRA HOTEL', 'MALLI-RENIGUNTA', 'BLT-SKHT',
       'SIVA-ONGOLE', 'Ch.ramaniah', 'VENU-KODUR', 'PSM-ALR',
       'HOTEL VENKATAGANANA', 'Chenchu Krishnaya-n', 'AVR-VBPALLI',
       'Chandrasekhar-skht', 'VENUGOPAL.T-GONEPAL', 'NARAYANAMMA-KODUR',
       'LAKSHMIPADMAVATHI-N', 'NAVEEN-KOTA', 'IMRAN CATERING',
       'VENKATESWARLU-TPT', 'TULASI-KOVUR', 'GAJULA MASTHAN-ANAT',
       'KVS-CHITWELI', 'SUNIL DON', 'GAYATRI PROVISION',
       'POOJA TRADERS-SKHT', 'JAYARAMAYYA.P-VGIRI', 'KURAPATI SUDHAKAR-S',
       'SANKAR TRADERS', 'SVS-SULURPET', 'JAGADEESH-RAPUR',
       'ROYAL PACKAGING', 'BIG C HOTEL', 'SAI CATERING-NLR', 'MKR-RAPUR',
       'SHAJAHAN-NPT', 'KS PROVISONS-PDKR', 'RAJESH-DAKKILLI', 'MALLI',
       'MALYADRI-DHARMAVARA', 'SUBHARAO.V.V', 'MV RAMARAO-CHINAMAC',
       'BISMILLA TRADERS-UG', 'NAGARAJU.P-ALLURU', 'KODUR CHURCH',
       'SIVA-VIJAYA DAIRY', 'SURI', 'Y.MADHAVI-SYDHAPURA',
       'RASOOL-RAILVWAY KOD', 'VIJAYLAKSHMI HARDWA',
       'TV SUBRHAMANYAM-NPT', 'TKR-BITRAGUNT', 'SUDHARASAN-VGIRI',
       'NARAYANA-VENKATESWA', 'CNB', 'CHANDRA-RAILWAY KOD',
       'SRI SAIRAM GENERAL ', 'BABU.N-ANATHASAGARA',
       'CHIRU PLATES PADUGU', 'P.KESAVULU-GDR', 'DHANALAKSHMI UDAYAG',
       'SEKHAR-PADARUPALLI', 'COLOURS', 'SRIRAM SUBHARAO MAR',
       'SRI DEVI JUICE CENT', 'SRIKANTH-TIRUPATHI', 'KKS-SPT', 'PH-ATKR',
       'RAMBABU-SKHT', 'VAMSI KRISHNA-NAIDU', 'RAMESH ENTERPRISES-',
       'SURESH-NPT', 'VSM-SKHT', 'RASOOL RAJAMPET', 'HOTEL NTC-NELLORE',
       'SIVA VVS', 'NANDAGOPAL-SPT', 'Lakshmi Plastics-sk',
       'RATNAM HIGH SCHOOL', 'CNR-BUCHI', 'JANATHA TRADERS NPT', 'MS-SPT',
       'SATYAM-VGIRI', 'SBI RBO NELLORE', 'CAKES AND CREAMS',
       'NAGESWARARAO-SARVEP', 'SUBHARAO.P-NELLORE', 'SUBRHAMANYAM-CHEJAR',
       'CHANDRAMOHAN REDDY-', 'GVS PROVISIONS-CSPU',
       'NAGARJUNA-NANDHIPAD', 'VENKATARAMANA SUPER',
       'KRISHNAMURTHY-IIT A', 'NVK-SKHT', 'HOTEL KAVERI-NLR',
       'BHASKER .J-VGIRI', 'VINAYAKA BAKERY-A S', 'VIJAYAWADA',
       'SURESH-PDKR', 'NCC CANTEEN', 'RACHANA-NLR', 'GANGA SWEETS-BUCHIR',
       'TPCL-NLR', 'DIYA INDUSTRIES-TPT', 'PRADEEP-VENKATACHAL',
       'ASHOK STUDIO-ISKAPA', 'Ram Mohan P-marlapu',
       'RAVINDRA BARATHI SC', 'NAGABUSHANAM-CHEJAR', 'CH.RANGAYYA-UGIRI',
       'PRAKASH-NPT', 'SURESH.M-T K PADU', 'SS FASHIONS-KAVALI',
       'RPS-UGIRI', 'GIRI.K-BUCHI', 'KANNAYA.K-RAPUR',
       'PATTHI SUBHARAO-NLR', 'SURESH DISPOSABLES', 'K.PRABHAKAR-CHINCHU',
       'MUNEER-BITRAGUNTA', 'BOLLINENI HOSPITAL-', 'MADEENA CUT PIECES-',
       'BRHAMEESWARA VASUDE', 'GURU RAGHAVENDRA RE',
       'VIJAYANANDA BRHAMAC', 'KONDAREDDY-BUCHI', 'Priya Packaging.',
       'PENCHALAYYA.M-RAPUR', 'ANJANEYULU.CH-GUDUR', 'KGN CHIKEN',
       'MARKFED-ADURUPALLI', 'SUSHMITHA CATERING-', 'DURGA RAO-DUVVUR',
       'SUBRHAMANYAM-K-ALLU', 'LAALU MALL', 'BALAJI CHEMICALS SU'],
      dtype=object)

In [109]:
filtered_data['Party'].nunique()

712

In [110]:
filtered_data['Product'].unique()

array(['DONA-VAI-9100', 'LITE FOAM(1200)', 'VISHNU CHOTA WINE',
       'CLASSIC ENJOY(750)', 'Vishnu 250ml', 'BLACK DOG-350ML',
       'Loose Items', '90ML RANGEELA', 'SILVER POUCH 9*12',
       'SILVER POUCH 8*10', 'CLASSIC 250ML(100)', '14"7PLY PLATES',
       '10*10 TEJA', 'PAPER JUICE 190ML', 'APPLE WINE', 'APPLE 300ML',
       'FANCY IC', 'SMART BOUL LOOSE', 'TIRUMALA LEAF(9)',
       'SOFT NAPKEENS', '14 GREEN', '10*10 MORE', '500ML PLASTIC BOULS',
       'Classic 250ml', '100LEAF -SP', '12*18 STAR-CUT', 'NO-00',
       '5*6 ANKIT(20MIC)', 'PP +7*9', 'PP +(8*10)', 'N0-5', 'NO-0',
       'NO-2', 'NO-3', 'DURGA 10*12 Blue', 'LARGE BOWL-ESSFOAM',
       'SMARTBOUL-GLA(3500)', 'SILV-CONT-450ML(150',
       'SILV-CONT-750ML(100', 'HIGH COUNT 10*12', 'Durga 10*12 Bk',
       'DURGA 10*12 CL', 'SMART BOWL(3500)', 'MEDIUM BOUL CLA(540',
       'TIRUMALA-50(13*16)', 'CYCLE 10*12 BK KG', 'PRINT-10*12 CAR',
       'CYCLE 13*16 BK KG', 'ROBO 10*12', 'Vishnu 300ml', '4*5 MEET',
       'SILVER PLATE 6', 'PP 8*10', 'PP 6*8', 'PP 7*8', 'Pp 5*7',
       '6*9 100 Pcs', '7*10 100 Pcs', '8*11 100 Pcs', 'GARUDA 16*20 BLUE',
       'TIFFIN PLATES-11NO-', 'NO-1', 'HIGH COUNT 13*16',
       'HIGH COUNT 16*20', 'NAPKEEN 2ND', 'RASNA COVER',
       'STRECH FILM-600MTRS', 'TIFFIN PLATES NO-7', 'SILVER POUCH 7*9',
       'VAT AMOUNT', 'CHANDRA 75ML TEA', 'NO-10', '12green Buffet',
       '10*12 KRISHNA-BK(10', 'SILVER TONE 10*12 W', '13*16 WHITE RK',
       'CYCLE-BLU-10*12', 'PAPER TEA-65ML(100)', '4*5 TRISUL',
       '20 *26 BLUE', '22MRP THREADS', 'DHARAM 1/2KG SPECIA', '5*6 Poly',
       '5*7 ESWAR', 'PAPER TEA -AL', 'SUPER ROPE(SPECIAL)',
       'NIFTY 10*12 PINK', 'BULLET 10*12', 'ROBO 13*16 BLUE',
       'SMITH 4*5 POLY', 'APPLE WATER', 'TIFFIN PLATENO-10',
       'SNACKS PLATES', 'LEAF DONA BIG', 'PAPER TEA 80ML LONG',
       '24 * 30 BLUE', 'TIRUMALA M.W 10*12', 'TIRUMALA M.W 13*16',
       'TIRUMALA 16*20 M.W', 'SILV--450-LOOSE', 'CYCLE-BLU-13*16',
       'ROLLS', 'LARGE FANCY IC', 'SPOON-SMALL-NAT',
       'APPLE 300ML(COLOUR)', 'TIFFIN PLATES NO-8', 'NO-000',
       'DONA -LOOSE', 'CYCLE-BK-10*12', '13*16 BLACK RK', 'OKAY SPOONS',
       '250 ML PLASTIC BOUL', 'ROYAL NAPKEENS', 'PREMIER TISSUES',
       'LEAF DONA SMALL', '80 Leaf', '17*23 SANTOSH',
       '10" CLASSIFOAM-1200', 'SILVER PLATES-5', 'SILV-750ML-LOOSE',
       '16*20(100-W)', 'Vishnu 350ml', 'THEROCOL PLATES LOO',
       '30*50 LINER', 'PAPER TEA-65ML', 'Classic 300ml',
       'GARBAGE BAGS-LARGE', 'PP', '10*12 RK', 'Dharam-15pcs',
       'Kesaw M.w 16*20', '13*16 KESHAV M.W', 'KESAW M.W 10*12',
       '13*16 Bk Krishna', '1000ML CONTAINER', 'TIRUMALA-50(16*20)',
       '10*15 STAR-DCUT', '5*6 Janatha Poly', '4*6 Poly', 'SAGAR 80ML',
       'TIRML-BL-KG-16*20', 'Vishnu Ice', 'SILVER PLATE(1300)',
       'Pink Plates-7"', 'Big M.w Spoon', 'PREMIUM 13*16 BLUE',
       'TIRML-CL-10*12', 'TIRML-CL-13*16 KG', 'TIRML-CL-16*20',
       'TIRML-BL-KG-17*23', 'DHARAM-6PCS', 'Tirumala Kirana',
       'TAPER ROLL 3"100MTR', '10*12 SARAS-NAT', '10*10 TIGER',
       '10*12 SARAS-BK', '10*10 SIVA SHEET', 'LITEFOAM COLOUR(120',
       '10*10 Radha Krishna', 'PAPER TEA PRINTING', 'CYCLE-BK-13*16',
       'RUF&TUF -FORK', 'RUF-TUF BIG M.W', 'SILVER-11-HEAVY',
       'PRESSING COVER 4*5', 'TIFFIN PLATENO-11', 'Gold Leaf Sitting',
       'PAPER TEA', 'DURGA 13*16 BK', '13*16 Bk(100)KRISHN',
       'NIFTY PINK 13*16', 'SILVER TONE 13*16 W', 'PP 3.5*3.5', 'PP 3*3',
       'SPOON BIG CL', 'ROLLS 1/2 AND 1/2', 'DURGA 13*16 BLUE',
       'TAMBULAM 7*10', 'GANGA 10*12 100W', 'Cycle-10*12(100)-bl',
       '4*5 ANKITA', '5*6 MORE POLY', 'TIRML-BL-KG-13*16',
       'SILVER POUCH 6*8', '20*26 COVER', '24*30 COVER', 'SILVER PLATE 7',
       'TIRUMALA-50B(10*12)', 'BEER COVER', 'DHARAM 1KG SPECIAL',
       'VAMSI 13*16 WHITE', 'LARGE IC', '50gram Rubber', 'RUBBER 100G',
       'PAPER TEA-110ML', 'NO-5', 'TIFFIN PLATES-9"', 'Pp 10*12 +',
       'Pp 9*12 +', 'PRINTING PP 250GRAM', 'PRINTING COVER 100G',
       'PRINTING COVER-50GR', 'PRINTING PP 500GRAM',
       'TAPE ROLL 2" MTRS20', 'CITIZEN 13*16-M.W', 'CITIZEN 16*20M.W',
       'CITIZEN M.W 10*12', 'WATER GLASS', 'RUBBER', '100leaf',
       'Classic Colour', 'PP 5*6', 'Pp 6*7', '5*6 TRISUL',
       'KESHAV M.W 24*30', '20*26 MW KESHAV', '10*10 NILKAMAL',
       'PRESSING COVER-2*3', 'PRESSING COVER 3*4', 'PRESSING COVER 5*7',
       'TOOTH PICS', 'PINK PLATES 8"', 'PRINT 13*16', 'PRINT-16*20 CARRY',
       'PAPER TEA GOODWILL ', 'TAMBULAM 8*11', 'PP 4*4', 'Pp 4*6',
       'PP 5*5', 'HAND GLOVE 25PCS', 'TIRUMALA-50(17*23)', 'PP 7*9',
       'PP 4*5', 'PP 6*9 +', '4*6 1/2 KG PACKET', 'PIN BOX',
       'PINK PLATES -6"', 'HIGH COUNT 16*20 BL', 'TAPE ROLL 2"100METR',
       'TAPE ROLL 2" 50MTRS', 'PAPER JUICE 210ML', 'LD 6*7.5(HALF LITRE',
       'LD 6.5*10(LITRE)', 'PRESSING COVER 4*6', 'SCRUBBER',
       'HIGH COUNT 10*12 BL', 'HIGH COUNTING BLUE ', '12*12 Pgs',
       'DURGA 10*12 MW', 'DONA-100PCS(8200)', '6-GLACEFOAM(4200)',
       '4CB CLASSIFOM(1200)', 'SILVER COATED SPOON', 'DONA-COLOUR(8100)',
       'HAND GLOVES 100PCS-', 'CHEF CAP', 'Gold Leaf Sitting(1',
       'BEND STRAW', 'RUCHI 4*5', 'PP (+) 3.5*3.5', 'PP 2.5*2.5',
       'ZEND-1ST', '5*7 POLY 1/2KG PACK', '4*5 Poly',
       'GARBAGE BAGS-EXTRA ', 'GARBAGE BAGS-MEDIUM', '10*12 KRISHNA',
       'TAMBULAM 6*9', '9*12 STAR-DCUT', 'TAPE ROLL 3"',
       'PRIYA 10*12-BLUE KG', 'RADHE-BK-KG', 'Tirumala-bk-16*20kg',
       'SILV--250ML-LOOSE', 'TAPE ROLL 1/2 INCH', '10RS RUBBER SHEET',
       '10*12 Bk Krishna', 'Fork Med Crystal', 'ROLLS-PAPER KG',
       'SILVER TONE 10*12 B', 'Loose Kirana', 'SILV-CONT-250ML(200',
       'NR TEA', 'GARUDA 13*16 BLUE', '13*16 M.W', '10*12 M.W',
       'STRAW 1/4 PACKET', 'SILVER PLATE 9"', 'SILVER PLATE 8',
       'GANESH 16*20', 'VISHNU 300ML(90)', 'GARUDA 10*12 BLUE',
       'PP 20*26', 'SPOON MED M.W', 'SILVER FOIL ROLL', 'BUTTER PAPER',
       'PACKING COVERS', '14 5PLAY PLATES', '12*12 TIGER', '4CB LOOSE',
       '9*9 Pgs', 'DHARAM BOX-METRO', 'JUMBO 30*50 COVER',
       'TIRML-BL-KG-10*12', '17*23 KESHAV M.W', 'BASKIN SPOON',
       '13*16 50W-SANTOSH', 'PP+(6*8)', 'PP + 5*6', '5*6 FRESHGOLD',
       'SILVER POUCH 5*7', 'SWATHI-N(13*16)', 'ZEND-PREMIUM',
       'Dharam 1kg', 'CHANDRA TEA', 'CYCLE 16*20 BK-KG',
       'SAMSUNG 16*20 BLU', 'PAPER TEA GOODWILL', 'PP 3*4',
       'PRINT 13*16 CARRY', 'L.D', '24*36 LINER', 'SUPER ROPE',
       '5 RS RUBBER SHEET', 'STRAW 1.5KG BUNDLE', 'DONA-100PCS(80)',
       'PP +(10*14)', 'FORK BIG', 'RUBBER 1"', '5*5 DONA(4500)', '6*9 Hm',
       '10*12 Krazy', 'RUBBER 3"', 'CYCLE-13*16-50W', '750ML CONTAINER',
       'CHANDRA FANCY WINE', 'SPONZE', '5*5 DONA LOOSE', 'FRUIT FORK',
       '12"5 PLY PLATES', 'PRINTING PP 1KG', '150ML CLASSI-THERMO',
       'Pp 8*8 +', '9*12 100 PCS', '14*20 STAR-DCUT', '8*11 STAR-DCUT',
       'GANESH 10*12', 'NIFTY 10*12 -BLU', 'SILVER PLATES -10"',
       'THERMOCOLPLATES HEA', 'PRIYA 13*16-BLUE KG',
       'PRIYA 16*20-BLUE KG', 'TEAGLASS(80)', 'SILVER COVER 7*9',
       '5*6 Eswar 250grams', '3CB TRAY HIPS', 'FORK-MED',
       '100ML PLASTIC BOUL', '12*18 YELLOW D-CUT', 'Pp+(8*12)',
       'Pp +(9*11)', 'GANESH 13*16', 'Pp 4*5 +', 'APPLE HEXA GLASS',
       'Tiffin Plates-6', 'SILVER FOIL-72MTRS', 'JUMBO BIG SPOON',
       'MEDIUM BOUL LOOSE', 'BASKIN WHITE', 'Printing Pp', 'WATER 2.0',
       'SPOON BIG-N', '13*16 COLOUR KG', 'SILVER POUCH 4*6',
       'RUBBER 200GRAM', 'TIRUMALA TEA', 'PP +(6*7)',
       'PAPER TEA-75ML(100C', 'Pp +7*8', 'PP 8*9', 'PP 9*12', 'OWN ITEM',
       'PAL 9-METERS', 'TISSUE ROLLS', 'PRINTING NAPKEENS', '10*10 ROYAL',
       '9*9 TIGER', '4*5 RUCHI', 'PRINTING PP 2KG', 'SILVER-9 HEAVY',
       'ZEND-CLASSIC', 'DONA-FOMEX(84)', 'PRESSING COVER 5*6',
       'SILVER FOIL-1KG ROL', 'LIDS-750ML', 'PAPER JUICE 210M/C',
       'Pp 16*18', 'LD 5*7', '6" Loose', 'DOME LIDS', 'Paper Tea-100ml',
       'RUCHI 5*6', 'DHARAM-JAGADEESH', 'PAPER JUICE 250M/C',
       'FORK BIG CRYSTAL', 'STAND BOUL(1200)', 'SEVANA 8"',
       'SMARTBOUL-CLAS(40)', 'NON-WOVEN BAG 9*12 ', 'NON WOVEN BAG 10*12',
       'TAPEROLL 2"', 'SPOON SOOFY', 'SEVANA 12"', 'PAPER TEA -65ML',
       '5*8 POLY', '10*10 SHEET', 'PEPSI 2.0', '10*15 YELLOW DCUT',
       '14*20 SPECIAL D-CUT', 'GARBAGE BAG-SMALL', 'NAPKEENS 2ND-SPECIA',
       'GARUDA 10*12 BK', 'SWATHI-N(16*20)', 'SMARTBOUL GLA(4000)',
       'CYCLE-13*16(100)BLU', 'PINK PLATE-10"', 'STRECH FILM', 'PP 8*9+',
       'TAPE ROLL 1"', 'PEPSI 300ML', '13GREEN BUFFET', 'MINIBOUL',
       'PP 18*20', 'Pp 9*11', 'POLY 6*9', 'POLY 8*11',
       'NON WOVEN BAG D-CUT', '4CB GLACE(1500)', 'LARGE BOUL(42)',
       'FACE MASK', '13*16 BK-KG', 'SWATHI-N(17*23)',
       'SWEET BOX-500GRAMS', 'Tirumala-bk-17*23', 'GREEN 10*12 BK',
       '13*16 BLUE', '11*14 M.W', 'LEADER 8*11 M.W',
       'PRESSING COVER 8*10', '90leaf', '16*20 (50-W)', 'TAPE ROLL 2.5"',
       'SILVER-10 HEAVY', '16*20 (50 Bk)', '14*20 SP-DCUT',
       'PAPER JUICE 250ML', 'CYCLE-BK-16*20', 'ADVANCE 10*12 BLUE',
       'CITIZEN M.W-17*23', '10*12 BLUE KG', 'NON WOVEN BAG 13*16',
       'NON-WOVEN BAG 16*20', '10*12 BLUE', 'SPOON SMALL-N(90C)',
       'GARUDA 10*12 COLOUR', 'GARUDA 13*16 COLOUR', 'ASHA 10*12 BLU',
       'PAPER TEA 150ML', 'APPLE 300ML(90)', 'PAN BOX', '16*20 100-BK',
       'FOM-SPIRAL(143*50)', 'FOM-HEX(121*70)', 'PRESSING COVER 2.5*',
       'Pp 12*14 +', 'PP + 7*10', 'Pp +(5*7)', 'Tirumala-bk-13*16kg',
       'Pp 12*16 +', '4*5 MARIO', 'TAPEROLL', 'WINE GLASS',
       'WATER GLASS(300)', 'TIRUMALA M.W 17*20', 'PEPSI WATER',
       'DONA-1100', 'LIDS-450ML', 'HIGH COUNT 17*20', 'CHUNARI D-CUT',
       'PAPER TEA -100ML TA', '5*7 HM', '1200ML CONTAINER', 'PAPER LEAF',
       '10*10 SIVA SILKY', 'COLOUR GLASS', '6"ESSFOAM(3600)',
       'SURESH DHARALU', 'DHARAM', 'BIG M.W SP', 'ZEN-D CHEAP',
       '9"CLASSIFOAM(1500)', 'STRECH FILM-100MTRS', 'CLASSIC PLATES COLO',
       'SPOONS-BIG M.W', 'LIDS-250ML', '10*10 Saraswathi Sh',
       '20*26 LINER', 'GST AMOUNT', 'ROLLS GOLD', '90ML RANGOLI',
       'PP 10*12', 'DOT GLASS', 'ROLLS-PURE', 'ZEN-REALPACK',
       'RAJA BOUL(5250)', 'PP 4*6+', 'PINK PLATES 9"', 'Rangoli 13*16',
       'TIRUMALA PLATES-9', 'PP 8*7 +', 'LOCK COVER', 'STAPLER MACHINE',
       'Pressing Cover 6*8', 'Pp 7*7 +', 'FANCY WINE GLASS',
       'CHANDRA HEXA GLASS', 'TIFFIN PLATENO-10 S', 'TAMBOOLAM COVER',
       'DONA-50pcs-(8100)', 'ROLLS-KGS', 'STEP GLASS', '17*23 M.W 40MIC',
       '8*11 HM', '7*10 HM', '13*16 100 SAR-BK', 'PP 12*16', 'PP 6*6',
       '5*6 MORE(20MIC)', 'RUBBER 0"', '10*12 GREENPACK-BK',
       'KAVITHA GOLD 10*12', 'PP 16*20', 'CYCLE-13*16(100PCS)',
       '17*23(100)', 'DURGA 13*16 CL', 'PRINTING WATER GLAS',
       '13*16 100W', 'CITIZEN-BK-10*12', '24*20 M.W', 'DURGA 10*12 PINK',
       'PP 5*5+', 'SILVER COVER 5*7', '500ML CONTAINER M.W',
       'TIFFIN PLATES - 9 S', '13*16 BLUE(100)', 'ROPE-SUPER',
       '19*22 SPECIAL D-CUT', '10" Essfoam Loose', 'NAPKEENS-BOX PACKIN',
       '12" BIOFOAM(750)', '14 SPECIAL PLATES', 'GARBAGE BAGS-KGS',
       '80ML RANGOLI', 'SEVANA 10"', 'BAHUBALI WINE', '16*20 M.W 40MIC',
       'CLOTH SEAL COVER', 'PRINT 17*23', 'GARUDA 13*16 BK',
       'MILAN 4*5 POLY', 'MILAN 5*6 POLY', '5*6 Saroj Poly',
       'DHARAM-LALGUDA', 'STRECH FILM-30MTRS', 'HAND GLOVES-100PCS',
       'SUPER CLASSIC', '100ML HIPS', 'PLATES LOOSE', 'TIRUMALA PP',
       'Dharam 6pc Small', 'SILVER COVER LOOSE', 'ROBO 10*12 BK',
       'MILAN 4*6 POLY', '10*12 100bk', 'CLING FILM 600MTS',
       'PAPER JUICE 150ML', 'SOUP CUP', 'CYCLE-100(13*16)N',
       'DURGA 13*16 PINK', 'POLY 5*8 M.W', 'PP 7*12+', '6 CP TRAY HIPS',
       '10*12 RK-BK', '10*12 COLOUR KG', 'RANGOLI 16*20 KG',
       'SILVER POUCH 7*10', 'DHARAM-1/2 KG', 'DONA-COL(84)',
       '12*18 SPECIAL D-CUT', 'L.d Colour Kg', 'KRISHNA 10*12 RED',
       'STRAW 1.3KG BUNDLE', 'Cash', 'NAPKEENS 27*27', '10*12 100W',
       'TAPE ROLL 3"200 MTR', 'TOOTH PICS-;PLASTIC', 'EXCENT SP',
       'THERMOCOL GLASS', 'SILV CONT-(660)', 'CUP CAKES', '16*20 M.w',
       'KRISHNA 13*16 RED', 'NO-0 SP', '10*12 BK -KG', 'SPOON MED-NAT',
       'PREMIUM 13*16 M.W', '7*11 STAR DCUT', '6*9 STAR DCUT',
       '16*20(100)SANTOTH', 'SPOONS', 'JIO 10*12 MW', 'JIO 16*20 MW',
       'JIO 13*16 MW', '16*20 COLOUR KG', 'STRAW', 'SPOONS TIKKI',
       'SPOONS KRAZY', 'LARGE CUPS', 'BUTTER PAPER(24PCS)',
       'SINDHU TEA GLASS', 'TIFFIN PLATES', 'PP 22*24',
       'THERMOCOL GLASS(180', 'SWEET CUPS', '18*20 SP-DCUT',
       'SIVA 10*12 MW', 'SIVA 13*16 M.W', '6" Therm(5600)',
       'DHARAM BOX-TIRUMALA', 'TIRML-BL-KG-11*14', 'SILV FOIL SUPR 75',
       'SIVA 16*20 M.W', '12*12 ROYAL', 'SIVA 17*23 M.W',
       'NAPKEENS 24*24', 'PP 6*6 +', 'NO-2 SP', 'HIGH COUNT CLR KG 1',
       'HIGH COUNT CLR 16*2', 'SILVER COVER 8*10', 'SILVER COVER 6*8',
       'GANGA 13*16 100W', 'NO-5 SP', 'LD 8*10', 'SPOON COLOUR',
       'KRISHNA 13*16(100)N', 'RANGOLI 13*16 CL', 'GANGA 13*16 100 B',
       'NO-1-SP', 'NO-5-SP', '4CB PLASTIC CONTAIN', 'Large Boul-loose',
       '10*10 DHAVAT', 'No-00 Sp', 'SILVER POUCH', '14*14 Sheet',
       'BASKIN COLOUR', '10" THERMOCOL PRINT', 'RUBBER 1/2 KG PACKE',
       'HARITH M.W 10*12', '13*16 Black', 'SILVER FOIL 9MTR',
       'PRINTING PP-SP', '10*15 SPECIAL D-CUT', 'SMART BOUL(48)',
       'SILVER FOIL ROLL 75', '5CB-CONTAINER', '10*12 50 W',
       'GARUDA 16*20 BK', '7" PLATES LOOSE', '16*20 Blue', 'KIRANA HM',
       '17*23 50w', 'LD KIRANA', 'BAHUBALI ICE', 'Sweet Box-250grams',
       'HIGH COUNT CLR 10*1', 'TAPE ROLL 2" 40MTRS', 'HARITHA M.W 13*16',
       'SAMBAR CUPS', 'TRANSPORT CHARGES', '12*12 APPU',
       'PET WATER GLASS', 'STAND GLASS', 'TIFFIN PLATES- 12"',
       'Sambar Covers', '12 GOLD HEAVY', '8"-SILVER HEAVY', 'NO-4',
       'FOMEX(1350)', 'LEAF(85)', 'Leaf(100count)', 'SCRUBBER-PREMIER',
       'PP 3.5 *4', 'FOM-PRINT(50*120)', 'KARNA-10*12 BLU', 'PP 10*14',
       'DHARAM 1.5KG SPECIA', 'PP 4*4+', '10" SILVER HEAVY',
       '12"MULITWATER BUBL', 'SILVER COATED FORK', 'Spoon Small-cl(100)',
       'Tirumala-bk-10*12 K', '14" PLATES MULTI', 'PITTA DHARAM BIG SI',
       'GREEN SCRUBBER', 'PLASTICS SCRUBEER', 'PP 6*9', 'SRUBBER PLASTIC',
       'NO-7', 'GARBAGE BAGS', 'DONA-(108)', 'LIDS-750 MW', 'Pp 3*4 +',
       '4*6 ESWAR', 'Haritha M.w 16*20', '12"MULTICOLOUR',
       'WATER BUBBLES', 'WATER DISPENSERS', 'HIGH COUNT CLR 8*11',
       'CHINA 16*20 KG', '250ML CONTAINERS-N', '10*12 Baba',
       '14"SPECIAL PLATES', '12" ARKA PLATES', 'CHINA 10*12 KG',
       '10*12 50 BK', 'CHINA 13*16 KG', '7"THERMOCOL PRINT(1',
       '12" SPARKLE(1050)', 'BUTTERMILK COVER', 'MILAN 13*16 BLACK',
       '7"ESSFOAM(2250)', 'LIDS-450MW', '10*10 JANATHA',
       'NON WOVEN 10*12 100', 'NON WOVEN 13*16 100',
       'PAPER TEA 150ML IRC', 'SILVER PLATE COVER', '10*12 COLOURS',
       '9"PLATE(1800)', '16*20 Blue Kg', '13*16 BLUE KG',
       '7"CLASSIC(4800)', 'GOLD ROLLS', 'FRESH GOLD 13*16',
       'SEVANA 8"MACHINE', '13*16 Siva High Cou', '17*23 Blue Kg',
       'LD 5*6 POLY', '5*6 SP POLY', 'LEAF-80C', 'KARNA 13*16 100 W',
       'FRESH GOLD 16*20', 'KARNA 10*12 100W', '14" 3PLY SILVER',
       'KARNA 10*12 100BK', 'WATER 1.5', 'APPLE WATER COLOUR',
       'FRESH GOLD 10*12', 'PITTA DHARAM BOX-SM', 'KARNA RED 10*12',
       'KARNA COLOURS 10*12', 'PP 12*14', 'HEXA GLASS', 'DONA-VAI-9000',
       'ALLOUT 10*12 BK', 'ARKA SNACKS PLATES', '14 SILVER(8PACK)',
       'PRINT 20*26', '24*30 M.W PRINT', 'KARNA 13*16 BLACK', 'PP 3*3+',
       'DHARAM 10 PCS', '10*10 PAPER SHEET', '13*16 MW 50MIC',
       '10*12 MW 51 MIC', 'NON WOVEN 16*20 100', 'Water Can',
       'SODA GLASS JSD', 'VICTOR 13*16 MW', 'VICTOR 16*20 MW',
       'VICTOR 10*12 MW', 'LD NO-1', '600ML SOFTDRINKS',
       '1.25 COOLDRINKS', '16*20 MW 50MIC', 'Dharam Box', '10*10 CITIZEN',
       'PP 8*8', 'NON WOVEN 16*20 -CL', '5*6 ANKITA 51MIC',
       '1LIT WATER(15)', 'NAPKEENS PRINT 33*3', 'Adarsh 4*5', '4*5 51MIC',
       '5*6 ESWAR', '8*10 M.W', '5*6 HM', 'SILV 660 LOOSE',
       'BUISCUT BOX-500ML', 'GOLD PLATE COVER', '9*9 SILVER POUCH',
       'RR WINEGLASS', 'NON WOVEN 10*14', 'NON WOVEN 9*12 100P',
       'RELIANCE WATER GLAS', 'SILVER COVER 4*6', '4SQUARE WATER GLASS',
       'WELCOME GLASS', '9 CORNER GLASS', 'NELLORE DHARALU', 'RR 300ML',
       '10" GREEN', 'ROYAL ENJOY(750)', '14 SILVER PLATES',
       'SPOON SPIDERMAN COL', 'PAPER JUICE GLASS 3', 'LEADER 10*12 M.W',
       'LEADER 13*16 M.W', 'BUISCUT COX-1000ML', 'Madra Dharam', 'Pp 7*7',
       'LEADER 16*20 M.W', '10*10 Priya 2nd', 'NON-WOV 10*12 CL',
       'CHILLI SAUCES', 'SOYA SAUCES', 'VISWAS 10*12 M.W',
       'RR WATER GLASS', '12"PLATINA', 'VISWAS 13*16 MW', 'ARCA 6"',
       'VISWAS 16*20', '10*12 100 MW', 'MIXING PLATE COVER',
       'VISWAS 16*20 M.W', 'MILAN 10*12 BLACK', '300ML ORACLE FANCY',
       'DOME LID(80-DIA)', 'VENIGAR', '10*12 BLACK',
       'PLASTIC BOULS -LOOS', 'Peacock 13*16', 'ALLOUT 13*16 BLACK',
       '12*14 MW', 'Silver Plates 5', 'ORACLE 300ML FANCY',
       '14-GREEN 120GSM', 'GANGA 13*16 BLUE', '14 MULTI(8PACK)',
       'MAAZA TETRA', 'SILVER BOULS LOOSE', 'RELIANCE GLASS'],
      dtype=object)

In [111]:
filtered_data['Product'].nunique()

866

In [112]:
filtered_data['Qty'].unique()

array([    2,     6,   500,     5,     1,   100,   150,    10,   200,
           3,    20,    50,    30,  1000,    25,  2000,    35,  3000,
         210,   300,   400,    11,   556,  6000,    40,     9,    80,
         375,    24,   600,    15,   190,    14,   140,   350,   130,
        1800,  1600,   800,   939,   230,   700,    70,    27,    72,
         250,   450,   110,     8,   120,     4,   440,   650,    60,
         278,  1500,   240,   312,   360,  1440,   270,   900,   220,
         160,    12,   630,    16,   313,  1400,    90,    26,   550,
          23,    18,     7,    38,    32,  1100,   125,   750,    94,
        1050,  2600,    75,    22,   480,  4000,    36,   180,    45,
        5000,   420,    17,    13, 12000,  1200,   216,   112,  7000,
          84,   105,   330,   840,    62,  4500,  3500,   147,   660,
         320,    63,  1560, 23800,   720,  1350,     0,    55,   144,
        2400, 24000,    85,   101,   410,   170,   260,   460,   614,
         236,    33, 10800,   980,   560,    29,    61,   310,   280,
          44,    91,    21,  1260,  1120,  2500,    28,   850,   380,
          52,   153,   111,  3400,  1248,    95,    48,  2880,   135,
        9600,  1080,   390,    42,   213,   109,  3800,  5400,  4200,
          37,    41,    96,  4400,    19,   385,  1071,   108,   142,
         163,  4600,   325,    31,   447,  3200,   580,   357,   370,
         272,   118,   640,  1300,  1980,   145,   176,   245,   152,
         243,    56,   132,   114,   432,   104,   405,  5600,   106,
          51,    73,   530,   290,   215,   212,  4800, 10200,  1280,
       10000,   430,   192,  8000,   188, 32000,   324,  2200,    88,
         103,    93,   740,   930,   624,    89,   520,  1480,   760,
         540,    43,    64,  1110,    49,    65, 30000,   340,   265,
         353, 20000, 26000,   175, 16000, 15000, 24900, 19400,    47,
         178,    67,   122,   225,  2700,    54,  1550, 18000, 18400,
         714,  1650,    87,    53,  1040,    74,   820,    57,  3750,
         121,   620, 17000,  3300,  2100,   237,   268,   834,  1180,
          68,   172,  6400,   123,  9000,  2220,   156,   162,   113,
          71,  2750,   133,  1525,    99,  1775,  5250,   138,   365,
       35000,   528,   552,   165,   355,   610,    76,    39,  3150,
        1890,   219,  1150,   102,  2780,    92,   710,  2800,   780,
         115,  1320,   186,   256,   149,   187,  1111,   880,    34,
         185,  2240,   194,  1250,   384,    83,  1680,   286,   199,
         510,    58,   680,  6600,    81,   242,   143,    98,   429,
         297,   126,   335,    46,    66,   950,   495,    78,   128,
         306,  3600,   244,   825,   570,   590,   488,    97,   576,
         810,   124,   139])

In [113]:
filtered_data['Qty'].nunique()

354

In [114]:
filtered_data['Rate'].unique()

array([1.69000e+03, 1.62000e+03, 2.30000e+01, ..., 1.55800e+01,
       2.26000e+04, 1.40697e+04])

In [115]:
filtered_data['Rate'].nunique()

1074

In [116]:
cleaned_data = filtered_data.copy()

In [117]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95562 entries, 0 to 19171
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     95562 non-null  datetime64[ns]
 1   Voucher  95562 non-null  int32
 2   Party    95562 non-null  object
 3   Product  95562 non-null  object
 4   Qty      95562 non-null  int32
 5   Rate     95562 non-null  float64
dtypes: datetime64[ns](1), float64(1), int32(2), object(2)
memory usage: 4.4+ MB

In [118]:
cleaned_data.isnull().sum()

Date       0
Voucher    0
Party      0
Product    0
Qty        0
Rate       0
dtype: int64

## 11. Converting dataframe to .csv file and storing it:

In [123]:
filtered_data.to_csv(r'C:\Users\Aiswarya\Documents\ExcelR_John\Pandas Deep Dive\task_5_cleaned_data.csv', index = False)

# THE END!